@import url('https://fonts.googleapis.com/css2? family= Work+Sans:ital,wght@0,700;0,800;1,700;1,800 & display=swap');

/*Configuracion de la pagina*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Fondo */

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./imagenes/fondo.bg.jpg);
    background-position: bottom;
    background-size: cover;
}

/*Inicio de navbar*/

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    background: #212121;
    padding: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}

nav ul li a:hover{
    background-color: orange;
}

.detel{
     margin-left: 7%;
     margin-top: 5%;
}

.detel a:hover{
    background-color: orange;

}

.detel h1{
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: whitesmoke;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 60px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px;
}

.images img{
    margin-left: auto;
    width: 40%;
    height: 55%;
    position: absolute;
    left: 80%;
    bottom: 20px;
    transform: translateX(-50%);
}

.hero{
    overflow: hidden;
}

/* Segunda parte de la pagina */

.digital{
    margin-left: auto;
}

.digital{
    overflow: hidden;
}

.tittle{
    text-align: left;
    padding: 15px;
    background: #212121;
    color: whitesmoke;
    display: flex;
}

.tittle h2{
    font-size: 4vmin;
    padding-left: 33px;
    margin-bottom: 0px;
    color: orange;
}


.digital .image-galerry{
    display: flex;
}


.digital .row col{
    width: 50%;
}

div > div > img{
    width: 130px;
    padding: 10px;
    margin-left: 250px;
    
}

/* Tercera parte de la pagina */

.explore{
    width: 100%;
    height: 70vh;
    background-color: #212121;
    background-position: center;
    align-items: center;
}

.explore{
    overflow: hidden;
}

.explore-content{
    padding: 45px;
    color: whitesmoke;
    background-color: #212121;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content img{
    margin-left: 117%;
    height: 59%;
    position: absolute;
    left: -36%;
    transform: translateX(-50%);
}

.explore-content h1{
    font-size: 7vmin;
    padding-right: 546px;
    padding-top: 31px;
    color: orange;
}

.explore-content p{
    color: rgb(221, 221, 221);
    padding-right: 556px;
    padding-top: 55px;
    text-align: center;
}

.explore-content .boton{
    margin-top: 30px;
    margin-right: 541px;
    font-weight: bold;
}

.boton{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: orange;
    border-radius: 10px;
    border: solid 2px;
}

.boton a{
    text-decoration: none;
    color: whitesmoke;
}

.boton:hover{
    background-color: #212121;
}

/* footer de la pagina */

footer{
    width: 100%;
    position: absolute;
    margin-top: 10px;
    left: 0;
    padding: 2rem 8%;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logodos{
    height: 80px;
    margin-bottom: 1rem;
}

.redes-iconos-contenedor, .footer-menu-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.iconos-social{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid orange;
    background-image: url(./imagenes/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.iconos-social:hover{
    background-color: #212121;
    filter: invert(1);
}

.iconos-social:nth-last-of-type(2){
    background-image: url(./imagenes/instagram.png);
}

.iconos-social:nth-last-of-type(3){
    background-image: url(./imagenes/twitter.png);
}

.iconos-social:nth-last-of-type(4){
    background-image: url(./imagenes/youtube.png);
}

.footer-menu-contenedor{
    list-style-type: none;
    color: orange;
    font-size: 10px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    color: #f2f2f2;
    text-align: center;
}